html{
    font-size: 62.5%;
}
body,html {
    width: 100%;
    height: 100%;
}
body{
    background-size: cover;
    font-family: Raleway, "微软雅黑", Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
}

.bg{
    background: url("../images/bg.jpg") no-repeat;
}
.touchBtn {
    display: block;
    height: 250px;
    width: 250px;
    background-color: crimson;
    border-radius: 250px;
    font-size: 1.4rem;
    font-family: fantasy;
    color: #fff;
    line-height: 250px;
    text-align: center;
    text-decoration: none;
    margin-left: -50%;
    margin-top: -50%;
}

.wrapper {
    position: absolute;
    height: 250px;
    width: 250px;
    top: 50%;
    left: 50%;
}

.layer-1 {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.8);
}

.layer-2 {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.8);
}

.main {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.rainbow {
    text-align: center;
    margin-top: 14.7%;
    margin-left: auto;
    margin-right: auto;
    /*background: url("../images/ch_05.png") no-repeat 0 0;*/
    /*background-size: contain;*/
}

.title {
    /*background: url("../images/top.png") no-repeat 0 0;*/
    /*background-size: contain;*/
    text-align: center;
    margin-top: 9.3%;
    margin-left: auto;
    margin-right: auto;
}

.description {
    margin-top: 8.3%;
    text-align: center;
    font-weight: bold;
}

.info {
    margin-top: 3.64%;
    text-align: center;
    font-weight: bold;
}

.btn {
    margin-top: 3.64%;
}

.footer {
    position: absolute;
    bottom: 1rem;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.tip-box {
    height: 49.4%;
    width: 83.3%;
    border-radius: 1rem;
    background-color: #e48243;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
}

.close{
    width: 22.4%;
}

.use {
    background: url("../images/use.jpg") no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.present{
    transition:left 2s linear 1s,bottom 2s ease-in 1s;
    -moz-transition:left 2s linear 1s,bottom 2s ease-in 1s; /* Firefox 4 */
    -webkit-transition:left 2s linear 1s,bottom 2s ease-in 1s; /* Safari and Chrome */
    -o-transition:left 2s linear 1s,bottom 2s ease-in 1s; /* Opera */
}

.girl{
    right: 2rem;
    bottom: 1rem;
    transition:right 2s linear 1s,bottom 2s ease-in 1s;
    -moz-transition:right 2s linear 1s,bottom 2s ease-in 1s; /* Firefox 4 */
    -webkit-transition:right 2s linear 1s,bottom 2s ease-in 1s; /* Safari and Chrome */
    -o-transition:right 2s linear 1s,bottom 2s ease-in 1s; /* Opera */
}
